<div class="container">
  <div>
    <a class="prevpage"  routerLink="/skills"></a>
  </div>
  <div class="col-md-10">
    <hr class="vr"/>
  </div>
  <div class="row">

    <div class="col-md-5">
      <div class="col-md-2">
        <div class="circle-left">
          <p>June</p>
          <p>2014</p>
          <span class="span-right"></span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="circle-right">
          <p>August</p>
          <p>2010</p>
          <span class="span-left"></span>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="college"><h2>Uttar Pradesh Technical University</h2><br>
        <h3>Noida Institute of Engineering and Technology</h3><br>
        <h4>Degree: Bachelor of Technology</h4>
        <h4>Major: Computer Science & Engineering</h4>
        <h4>Location: Greater Noida (U.P.)</h4>
        <h4>Aggregate percentage: 67.38</h4>
        <a class="nextpage"  routerLink="/work"></a>
      </div>

    </div>
  </div>
  <hr class="separator">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-2">
        <div class="circle-left">
          <p>March</p>
          <p>2010</p>
          <span class="span-right"></span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="circle-right">
          <p>April</p>
          <p>2009</p>
          <span class="span-left"></span>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div><h2>I.S.C.</h2><br>
        Cathedral College<br>
        Location: Jhansi (U.P.)<br>
        Aggregate percentage: 73.28</div>
    </div>
  </div>
  <hr class="separator">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-2">
        <div class="circle-left">
          <p>March</p>
          <p>2009</p>
          <span class="span-right"></span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="circle-right">
          <p>April</p>
          <p>2008</p>
          <span class="span-left"></span>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div><h2>I.C.S.E.</h2><br>
        Cathedral College<br>
        Location: Jhansi (U.P.)<br>
        Aggregate percentage: 84.42</div>
    </div>
  </div>
</div>
