
<div class="container">

  <div class="col-md-12">
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-1">
          <a class="prevpage"  routerLink="/contact"></a>
        </div>
        <div class="center-page photo col-md-offset-1">
          <img src="../../assets/myImage.jpg" height="300" width="300" class="img-circle img-responsive"/>
        </div>
        <div>
          <p class="bubble me">
            Hi, I’m Rajat Khare residing in Noida, India.
            When I'm not helping clients in increasing their turnover by providing their customers good web experience, I like to learn and develop new things. Currently, I’m working as a UI developer in
            <a target="_blank" href="https://www.pitneybowes.com/in">Pitney Bowes</a>.
            If you have any opportunities that you would like to discuss with me, please <a routerLink="/contact">contact</a> me.
          </p>
        </div>
        <div class="col-md-6 col-md-offset-5">
          <a href="https://github.com/rajatkhare619/myWebsite/blob/master/rajat_resume_ui.docx?raw=true" class="btn btn-primary">Download my resume</a>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <a class="nextpage"  routerLink="/skills"></a>
    </div>
  </div>
</div>
