<div class="container">
  <div class="row">
    <div class="col-md-1">
      <a class="prevpage"  routerLink="/education"></a>
    </div>
    <div class="col-md-10">
      <div>
        <h1 class="text-center">Sapient</h1>
        <h3 class="text-center">March 2018 - Present</h3>
        <h3 class="text-center">Worked as a UI developer</h3>
        In one project, I worked as a UI developer using jQuery in AEM.
        <ul>
          <li>Helped the client in transforming their website from a HTML + CSS + JS (jQuery) & back-end one to one built on a CMS (Adobe Experience Manager 6.2).</li>
          <li>Followed the Component-Driven Development (CDD) methodology to write HTML + CSS + JS components in AEM which can then be placed by the website authors to create the required behavior.</li>
          <li>Implemented the UI for login and registration functionalities - two of the most important functionalities of the website along with the integration of services written in Node.js.</li>
          <li>Developed the components keeping Internationalization (i18n) in mind.</li>
          <li>Helped in the implementation of the analytics on the website using DTM (Dynamic Tag Management) which is a part of the Adobe Marketing Cloud for tracking the visitors.</li>
          <li>Followed the Agile methodology and worked closely with BAs and testers using JIRA as a platform for tracking stories and bringing them to completion on target times.</li>
        </ul>

        In another project, I worked as an Angular developer.
        <ul>
          <li>Worked on the creation of a Single Page Application (SPA) - a dashboard for tracking the assets of the users.</li>
          <li>Familiar with Angular CLI for creating services, components, modules, etc.</li>
          <li>Divided the application into multiple feature modules acting as logical divisions to decrease the complexity of development.</li>
          <li>Created reusable components that were used in multiple places across the application.</li>
          <li>Created services to consume the back-end API and these services were then injected in the components to populate charts.</li>
          <li>Implemented the routing in the application.</li>
          <li>Created forms using template-driven and reactive approaches to engage the users, validated user actions on the client side and provided responsive feedback.</li>
        </ul>
      </div>
      <div>
        <h1 class="text-center">Accenture</h1>
        <h3 class="text-center">October 2014 - February 2018</h3>
        <h3 class="text-center">Worked as a web developer, hybrid applications developer and Node.js developer</h3>
        <strong>Roles and responsibilities:</strong>
        <ul>
          <li>Developing complete features (UI and logic)</li>
          <li>Quickly creating JSON stubs for faking the backend until backend services are not available</li>
          <li>Creating Angular services for fetching REST API data from backend and mapping it in the application</li>
          <li>Making sure that the application is accommodated in devices (Android and iOS) of different sizes and resolutions using media queries</li>
          <li>Writing clean code to avoid as many bugs as possible and debugging quickly in case bugs creep in</li>
          <li>Ensuring high performance for applications on both mobile and desktop</li>
          <li>Following Agile methodology and adapting the ever changing requirements of the clients</li>
          <li>Coordinating with graphic designers and translating the requirements specified in the Visual Design documents to actual code in HTML and CSS with high precision</li>
          <li>Creating web applications effectively while following the separation of concerns (SoC) principle using Angular to keep the code modular</li>
          <li>Writing unit test cases for the modules</li>
        </ul>
      </div>
    </div>
    <div class="col-md-1">
      <a class="nextpage"  routerLink="/portfolio"></a>
    </div>
  </div>
</div>
