ul {
  list-style: none;
}
li:before {
  content: '\2605';
  color: salmon;
}

.nextpage {
  position: absolute;
  top: 208px;
  left: 182px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid lightseagreen;
  border-bottom: 20px solid transparent;
}

.nextpage:hover{
  transform: scale(1.3);
  border-top: 20px solid transparent;
  border-left: 20px solid lightcoral;
  border-bottom: 20px solid transparent;
}


.prevpage {
  position: absolute;
  top: 216px;
  left: -94px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid lightseagreen;
  border-bottom: 20px solid transparent;
}

.prevpage:hover{
  transform: scale(1.3);
  border-top: 20px solid transparent;
  border-right: 20px solid lightcoral;
  border-bottom: 20px solid transparent;
}
