div p {
  text-align: center;
  margin-top: 50px;
}

div img {
  border: 2px solid coral;
  border-radius: 10px;
  transition: all 1s;
}

div img:hover{
  transform: scale(1.1) translate(2px) skewX(10deg);
}

.nextpage {
  position: absolute;
  top: 113px;
  left: 480px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid lightseagreen;
  border-bottom: 20px solid transparent;
}

.nextpage:hover{
  transform: scale(1.3);
  border-top: 20px solid transparent;
  border-left: 20px solid lightcoral;
  border-bottom: 20px solid transparent;
}


.prevpage {
  position: absolute;
  top: 118px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid lightseagreen;
  border-bottom: 20px solid transparent;
}

.prevpage:hover{
  transform: scale(1.3);
  border-top: 20px solid transparent;
  border-right: 20px solid lightcoral;
  border-bottom: 20px solid transparent;
}

.margin-top {
  margin-top: 20px;
}
